div{
    border-color: cadetblue;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 50%;
    margin-right: 50%;
    padding-right: auto;
    padding-bottom: 1%;

    
}
.h33{
    color: red;
}
span{
    color: green;
    text-underline-position: initial;
}
.t1{
    background-color: black;
    color: white;
}
table{
    border: none;
}
tr{
    border:none;

}
td{
    border: none;
    
}
